<!DOCTYPE html>
<html lang="en">

<head>

    <title>ICT 1002 Assignment</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Google Map API -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://kit.fontawesome.com/a186d658a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="../static/js/main.js"></script>
    
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/page/1">Home <span class="sr-only">(current)</span></a></li>
                </ul>
                <!-- Search bar -->
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <div class="col-sm-12 text-left">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                        <a class="btn btn-primary" href="/home/heatmap">Show All Values on Heatmap</a>
                    </div>
                </div>
            </div>
        </div>

<div class="col-sm-12 text-left">
  <div class="row">
          {% for networklog in listing %}
          <div class="networklogcard col-sm-4" data-string="{{networklog.attack}}" data-string2="{{networklog.ip}}"
          data-string3="{{networklog.city}}" data-string4="{{networklog.country}}">
              <div class="card">
                  <h5 class="card-header font-weight-bold">IP: {{networklog.ip}}</h5>
                  <div class="card-body">
                      <p class="card-text">Country: {{networklog.country}} </p>
                      <p class="card-text">Type of Attack: {{networklog.attack}}</p>
                      <a class="btn btn-primary" href="/home/networklog/{{networklog.key}}">Show Map</a>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
<div class="text-center">
          <ul class="pagination">
            {%if listing.page == 1%}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {%else%}
            <li class="page-item"><a class="page-link" href="/home/page/{{listing.page-1}}">Previous</a></li>
            {%endif%}
            <li class="page-item"><a class="page-link" href="{{listing}}">Next</a></li>
          </ul>
        </div>
    </div>
</div>

    <p>&nbsp;</p>

    <div class="col-sm-14 text-left">
        <footer class="container-fluid text-center">ICT1002 Python Assignment &copy; Map It!</footer>
    </div>
    <script>
        $(".form-control").on("keyup", function () {
            var input = $(this).val().toUpperCase();

            $(".networklogcard").each(function () {
              if ($(this).data("string").toUpperCase().indexOf(input) && $(this).data("string2").toUpperCase().indexOf(input)  < 0
              && $(this).data("string3").toUpperCase().indexOf(input) && $(this).data("string4").toUpperCase().indexOf(input)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        });
    </script>
</body>

</html>
